# FastAPI and Server
fastapi
slowapi
mangum
pydantic==2.5.0
pydantic-settings==2.1.0
email-validator
werkzeug

# Database
motor
pymongo[srv]
dnspython

# Auth & Security
passlib[bcrypt]
bcrypt==4.0.1

python-jose[cryptography]
google-auth-oauthlib

# APIs and HTTP
google-api-python-client
google-generativeai
razorpay
httpx
requests

# Email & Templates
fastapi-mail==1.4.1
Jinja2

# NLP and Parsing Dependencies
spacy==3.7.2
nltk==3.8.1
pdfminer.six==20221105
docx2txt==0.8
beautifulsoup4==4.12.2

importlib-metadata==4.13.0
# Utilities
python-dotenv
python-multipart
setuptools
