# Database files
*.db
*.sqlite3

# Python virtual environments
venv/
backend/venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# macOS system files
.DS_Store

# Node.js dependencies
node_modules/

# Log files
*.log

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage

# Swap files
*.swp
*.swo
