
.handwriting-cursor {
  display: inline-block;
  vertical-align: middle;
  width: 0.1em;
  height: 1em;
  background-color: white;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: white;
  }
}
